@charset "utf-8";
/* CSS Document */



/*********** VARIABLE A CHANGER ************/

:root {
  --main-color:#6D986E ;                /*Couleur principale du salon*/	
  --main-image: url(https://cdn.pixabay.com/photo/2017/08/02/01/37/dark-2569588_1280.jpg);  /*Fond image du thème*/ 	
  --fond-logo:rgba(255,255,255,0.5);    /*Fond blanc flou du logo*/
  --color-hero: #ffffff;   /*** Couleur du texte du héro, h1, date... ***/
	
  --basic-color: #ffffff;               /*Couleur de base du texte, par défaut : #ffffff */ 	
  --main-animation-transition : ease-in 0.5s; /* Animation hover */
  --content-imagetexte: url(https://picsum.photos/1000/1000); /*** Image du contenu avec texte à droite ***/
}

/*******************************************/




/************** EXEMPLE DE CHANGEMENT/SETTINGS ****************/

.imagefix{
    background: url(https://picsum.photos/1920/1080) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.imagegif{
    background: url(https://media3.giphy.com/media/xn2tua3QvDIOY/giphy.gif) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.containeroptions {
    position: fixed;
    background: #ffffff;
    right: 0;
    transition: ease 0.2s;
    margin-top: 10vh;
    box-shadow: 0 6px 9px rgba(0,0,0,0.1);
    z-index: 999;
    
}
.insidesetting{
    max-height: 80vh;
    overflow: auto;
    padding: 50px;
}
.insidesetting::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
.insidesetting::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 10px;
  }
.insidesetting::-webkit-scrollbar-track {
    background: #f4f4f4; 
  }
.containeroptions span {
    display: block;
    font-size: 10px;
}
.containeroptions p.titlecolor {
    padding-top: 20px;
    display: block;
    border-bottom: 1px solid #c4c4c4;
}
.containeroptions img {
    width: 25px;
}
.containeroptions li{
    list-style-type: none;
}
.containeroptions .setting {
    position: absolute;
    left: -55px;
    background-color: #ffffff;
    padding: 15px;
    box-shadow: 0 6px 9px rgba(0,0,0,0.1);
}
.containeroptions.settingclose {
    transform: translateX(315px);
}
.containeroptions.settingopen{
    transform: translateX(0) !important;
    max-width: 578px;
}  
.none{
    display: none !important;
}

.downloadlegal span {
    display: block;
    font-size: 11px;
    color: #a9a9a9;
    font-style: italic;
}
.downloadlegal {
    background: #f4f4f4;
    padding: 2em 4em;
    position: relative;
}
.downloadlegal:before {
    content: '';
    position: absolute;
    background: url(img/download.png);
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: contain;
    left: 15px;
    opacity: 0.5;
}

/****************************************************/

.header{
    min-height: 50px;
    width: 80%;
    background: #fff;
    margin: auto !important;
    z-index: 99;
    position: relative;
}
.containertroisimages{
    place-content: space-between;
    margin: 2em 0 0 0 !important;
    display: flex;
    width: 100%;
}
.troisimages{
    flex: 0 0 calc(33.3333% - 20px);
    max-width: calc(33.3333% - 20px);
    overflow: hidden;
    position: relative;
    max-height: 500px;
    min-height: 500px;
    transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -webkit-transition: ease-in-out 0.2s;
    padding: 0;
}
.troisimages p {
    position: absolute;
    font-size: 1.3em;
    color: #fff;
    bottom: 0;
    padding: 15px;
    width: 100%;
    z-index: 2;
    border-left: 5px solid var(--main-color);
}
.counter:before {
    content: ' ';
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    opacity: .9;
    position: absolute;
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
    z-index: -1;
    border-radius: 10px;
}
.col.troisimages:hover {
    transform: scale(1.01);
    -moz-transform: scale(1.01);
    -webkit-transform: scale(1.01);
    transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -webkit-transition: ease-in-out 0.2s;
    box-shadow: 0 9px 20px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 9px 20px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 9px 20px rgba(0,0,0,0.1);
}
.troisimages:before {
    content: ' ';
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    z-index: 1;
    position: absolute;
}
.counter {
    text-align: center;
    display: flex;
    align-content: center;
    height: 100px;
    transform: translateY(-60px) !important;
    margin: 0 auto !important;
    width: 60%;
    box-shadow: 0 8px 21px rgba(0,0,0,0.1);
    border-radius: 6px;
    overflow: hidden;
    z-index: 1;
    border-radius: 10px;
}
.counter p#countdown {
    width: 100%;
    margin: 0;
    color: #ffffff;
}
.counter .nombrecountdown{
    display: inline-block;
    padding: 0 20px;
    margin: 0;
}
.counter .nombrecountdown span{
    display: block;
}
.counter .nombrecountdown span.textcountdown{
    font-size: 11px;
}
.counter .nombrecountdown span.chiffrecountdown {
    font-size: 2em;
    font-weight: 600;
}
.counter .deuxpoint{
    display: inline-block;
    vertical-align: top;
    margin: 13px auto 0 auto;
    font-size: 1em;
}

.jumbotron {
  color: #000000;
  background: #f4f4f4 ;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height: 100vh;
  margin-bottom: 1em;
  background: var(--main-image);
  color: var(--color-hero);
  margin-top: -50px;
}
.jumbotron ul{padding: 0;}
.jumbotron ul li{
    list-style-type: none;
    display: inline-block;
}
.align-center{
    text-align: center;
}
.jumbotron p{
	    margin-top: 1rem;
	font-size: 1.3em;
    margin-bottom: 0rem;
}
.jumbotron span{
	    font-size: 12px;
    text-transform: uppercase;
}
.alignselfcenter{
	align-self:center;
}
.row{
	margin-right: 0;
}

.switchlanguage {
    text-align: center;
}
.switchlanguage li{
	display: inline-block;
	list-style-type: none;
	padding: 0px 7px;    font-size: 12px;

}
.illustrationherocontainer{
	display: flex;
	background: var(--main-image);
	 background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.switchlanguage li .active{
    padding: 5px 7px;
    border-radius: 50px;
    border: 1px solid var(--main-color);
}
.switchlanguage ul{
	padding: 0;
	margin-bottom: 0;
}
img#logo {
    max-width: 150px;
    margin-bottom: 2em;
}
.verticalcenter{
	place-items: center;
}
.hundred{
	height: 100%;
}
.hundred img{
	max-width: 100%;
}.illustrationhero{
	max-width: 100%;
    max-height: 100%;
}
.contentswitchlanguage{
    flex: 0;
min-width: 15%;
}

.ctaprincipal {
    transition: var(--main-animation-transition);
    -moz-transition: var(--main-animation-transition);
    -webkit-transition: var(--main-animation-transition);
    padding: 12px 38px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 40px;
    font-size: 11px;
    border: 1px solid var(--main-color);
    background: var(--main-color);
    color: var(--basic-color);
	    display: block;
    width: fit-content;
        margin: 30px auto 0 auto;
}
.ctaprincipal.cta2{
    background: rgba(0,0,0,0.2);
    border:1px solid var(--main-color);
    color: var(--main-color);
}

.ctaprincipal:hover {
    color: var(--basic-color);
    text-decoration: none;
    -webkit-box-shadow: 0px 5px 20px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 20px -10px rgba(0,0,0,0.57);
}
.fa, .switchlanguage a{
	color: var(--main-color);
}
.bcimagedutexte{
    background: var(--content-imagetexte);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 40px;
    border-radius: 20px;
}

h2{
    	margin: 1em auto 1em auto;
}
.col-sm.rscontainer{
    padding-right: 0;
}
.nav{
    float: right;
}
.nav-link:first-child{
    border-left: #f4f4f4 solid 1px;
}
.nav-link:hover{
    border-bottom: 2px solid var(--main-color);
    line-height: 32px;
}
.nav-link{
    height: 100%;
    min-height: 50px;
    line-height: 34px;
    border-right: 1px solid #f4f4f4;
    transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -webkit-transition: ease-in-out 0.2s;
}
.miseenavant{
    background: var(--main-color);
    width: 100%;
    display: block;
    border-radius: 15px;
    padding: 2em 2em;
    text-align: center;
    color: #ffffff;
}
.containercontent{
    transform: translateY(-100px);
} 
.number-container{
    display: flex;
    flex-wrap: wrap;
}
.number{
    flex-basis: calc(40% - 20px);
    margin:0 auto;
    padding: 3em;
    background: #ffffff;
    box-shadow: 3px 6px 20px rgba(0,0,0,0.1);
    border-radius: 20px;
}
.number span{
    font-size: 2em;
    text-align: center;
    display: block;
    font-weight: 700;
}
.number p{
    text-align: center;
    margin: 30px 0 0 0;
}

/********** FOOTER ***************/

.footer{
    text-align: center;
    border-top: 1px solid #a1a1a1;
    padding: 2em 0;
    margin: 8em 0 0 0;
    font-size: 12px;
    color: #a1a1a1;
}

.logofooter {
    width: 100%;
    justify-content: center;
}
.logofooter img {
    max-width: 100px;
    margin: 0 10px 0 10px;
}
.footer ul{
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}
.footer ul li {
    list-style-type: none;
    margin-top: 20px;
}
.footer ul li a{
    color: #a1a1a1;
}
* { box-sizing: border-box; }

/****** GESTION ROW ***********/

.row{
    margin-top: 5em;
    margin-bottom: 5em;
}
.jumbotron .row{
    margin: inherit;
}
* { box-sizing: border-box; }

.containercontent > .row:first-child{
    margin-top: 2em;
}


/****** CITATION ******/

.citation{
    background: #f4f4f4;
    width: 100%;
    padding: 2em;
    position: relative;
    
}
.citation p{
    font-size: 1.4em;
    padding: 2em 0;
}
.citation span{
    display: block;
    font-size: 0.9em;
    padding-left: 10px;
}
.citation span.citationqui{
    font-weight: bold;
}
.citation span.citationwhat{
    color: #838383;
}
.citation:before{
    content: ' " ';
    position: absolute;
    width: 50px;
    height: 50px;
    color: var(--main-color);
    font-size: 7em;
    font-family: initial;
    top: -50px;
    font-family: 'Catamaran', sans-serif;
}
.half{
    width: 50%;
    margin: 5em auto 5em auto;
}

/*****************************************/
/*********Page mentions légales***********/
/*****************************************/

/***** Titre de la page *****/

.titreart{
    min-height: 45vh;
    background: #f4f4f4;
    margin-top: 0 !important;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    transform: translateY(-50px);
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 0 !important;
}
.titreart a{
    color: var(--main-color);
    margin-bottom: 15px;
    text-align: center;
    font-size: 11px;
}
.titreart h1{
    font-size: 1.7em;
}
.innerpage h2{
    text-align: left;
    margin: 1em 0;
    font-size: 1.3em;
    width: 100%;
}
.innerpage .container a{
    display: contents;
}
.innerpage #logo{
    max-width: 70px;
    margin: 0 15px 0 0;
}
.innerpage .container .row:first-child{
    margin-top: 0em !important;
    margin-bottom: 5em !important;
}

/************ TABLE ***************/
#tableprivacy {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #tableprivacy td, #tableprivacy th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #tableprivacy tr:nth-child(even){background-color: #f2f2f2;}
  
  #tableprivacy tr:hover {background-color: #ddd;}
  
  #tableprivacy th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:var(--main-color);
    color: white;
  }
  b, strong{
      display: contents;
  }
  .innerpage b,.innerpage strong,.innerpage p{
    display: contents;
}
.innerpage h3  {
    display: block;
    width: 100%;
    padding: 20px 0;
    font-size: 1.1em;
}

/************ SLIDER **************/
/* .slider{
    flex-wrap: nowrap;
}
.descslider {
    flex-basis: calc(50% - 20px);
}
.descslideritem{
    position: absolute;
    font-size: 1.1em;
    color: #fff;
    bottom: 0;
    padding: 15px;
    width: 100%;
    z-index: 2;
}
.descslideritem span{
    display: block;
    font-size: 0.7em;
    color: #f3f3f3;
}
.slider-item{
    position: relative;
    margin: 0 10px;
}
.slider-item:before {
    content: ' ';
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    z-index: 1;
    position: absolute;
}
.slideitems {
    display: flex;  
    overflow-x: auto;
    scroll-snap-type: x mandatory;    
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    margin: 15px 0;
  }
  .slideitems::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .slideitems::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
  }
  .slideitems::-webkit-scrollbar-track {
    background: transparent; 
  }*/
/**********************************/

@media (orientation: landscape) and (max-width:1024px) {
    .jumbotron > .container > .row{
        flex-direction: column;
        margin: 0 auto;
    }
    .counter{
        width: 95%;
    }
    .header{
        width: 100%;
        }
        .jumbotron .alignselfcenter {
            align-self: center;
            display: flex;
            flex-direction: column;
            place-content: center;
            align-items: center;
        }
        .containercontent .rowtexte{
            flex-direction: column;
            width: 100%;
            margin: 0 auto;
        }
}
@media screen and (max-width: 800px) {
	.jumbotron > .container > .row{
        flex-direction: column;
        margin: 0 auto;
    }
    
    .counter{
        width: 95%;
    }
    .header{
        width: 100%;
        }
        .jumbotron .alignselfcenter {
            align-self: center;
            display: flex;
            flex-direction: column;
            place-content: center;
            align-items: center;
        }
        .containercontent .rowtexte{
            flex-direction: column;
            width: 100%;
            margin: 0 auto;
        }
}

@media screen and (max-width:478px){
    .text-center{
        place-content:center;
    }
    .nav{
       width: 100%;
    }
    .titreart a{
        text-align: left;
    }
    .titreart{
        min-height: 40vh;
        margin-bottom: 0 !important;
    }
    .innerpage .container .row{
        margin: 0 auto !important;
    }
    .containercontent > .row:first-child {
        margin-top: 2em;
        width: 100%;
        margin: 0 auto;
    }
    .row {
        width: 100%;
        margin: 5em auto 5em auto;
    }
    .attentetitre{
        text-align: center;
        padding: 2px 0px;
    }
    .col-sm.rscontainer{
        padding: 0;
    }
    .contentswitchlanguage{
        min-width: 100%;
    }
    .nombrecountdown {
        padding: 0 10px !important;
    }
    
    .bcimagedutexte{
        margin: 0 auto;
        min-height: 300px;
        width: 100%;
    }
    .number:first-child {
        margin-bottom: 2em;
    }
    .number {
    flex-basis: calc(80% - 20px);
    }
    .switchlanguage{    margin: 1em 0;}
    .miseenavant{margin:1em;}

    .containertroisimages{
        flex-direction: column;
        align-content: center;
        margin: auto;
        width: 100%;
        align-items: center;
    }
    .troisimages{
        flex: 0 0 calc(100% - 20px);
        max-width: calc(100% - 20px);
        margin-bottom: 20px;
    }
    .half{
        width: 100%;
    }
}